.header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    align-self: center;
    align-items: center;
    width: calc(100% - 40px);
    margin-left: 20px;
    height: 50px;
    border-bottom: dashed 1px var(--bright-color-chill);
    background-color: var(--brightest-color);
    color: var(--bright-color-chill);
}